#!/usr/bin/env bash
export PROJECT_HOME=`pwd`
export PROJECT=`basename $PROJECT_HOME`
export PATH=$PATH:$PROJECT_HOME/scripts

alias reset_db="dropdb $PROJECT; createdb $PROJECT; dirs=`find . -iname migrations | grep -v $PROJECT | sed -e 's/.*\/\([a-z_]*\)\/.*/\1/'`; for dir in $dirs; do rm -rvf ./$dir/migrations; done; ./manage.py makemigrations $dirs; ./manage.py migrate"

set -a
for file in [^.]*.env .*.env .env; do
  if [ -f $file ]; then
    source $file
  fi
done
set +a

# layout virtualenvwrapper $PROJECT
# layout poetry
